<body>
  <style type="text/css">
    .container {
      width: 400px;
      height: 400px;
      background-color: #d2d2d2;
    }
  </style>
  <div class="container">
    <div>
      <p>user</p>  
    </div>
    <div>
      <span>message</span>  
    </div>
  </div>
</body>