input, textarea {
  outline: 0;
  border-style: solid;
  border-color: #fff;
  border-radius: 8px;
  padding: 10px 20px;
  background-color: transparent;
  box-sizing: border-box;
  font-family: sans-serif;
  border-width: 2px;
}

input:active, input:focus, textarea:active, textarea:focus {
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  height: 400px;
  box-sizing: border-box;
}

.contact > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  box-sizing: border-box;
}

.contact > div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin: 30px 0;
}

.contact > div > div > input {
  width: 45%;
}

.contact > div > textarea {
  width: 100%;
  height: 200px;
}

@media only screen and (max-width: 600px) {
  .contact > div {
    padding: 0 10px;
    width: 100%;
  }
}