html {
  visibility: visible !important;
}

body {
  max-width: 100vw;
  background-color: papayawhip;
  margin: 0;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-family: 'Montserrat', sans-serif !important;
}

@font-face { font-family: 'Montserrat', sans-serif; font-display: swap; }

.section {
  display: flex;
  background-color: #FFF;
  min-height: 100vh;
  max-width: 100vw;
  box-sizing: border-box;
  padding: 20px 80px;
}

.footer {
  height: 220px;
  object-fit: contain;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../static/footer.png');
}

@media only screen and (max-width: 600px) {
  .section {
    padding: 20px;
  }
}