.menu {
  visibility: hidden;
  position: fixed;
  z-index: 100;
  top: 70px;
  right: 0;

  padding: 20px 5px;
  width: 150px;
  
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  
  transform: translate3d(100%, 0, 0);
  transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu > div > span:hover {
  cursor: pointer;
}

.menu > div {
  height: 40px;
  width: 100%;
  text-align: center;
}

.menu-open {
  visibility: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate3d(0, 0, 100px);
}
