
.navbar {
  z-index: 100;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  max-width: 100vw;
  padding: 0 40px;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;

  transition: all 250ms ease;
  background-color: transparent;
}

.navbar-scrolled {
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 2px 6px 2px rgba(60,64,67,0.15);
  background-color: white;
  height: 60px;
}

.navbar > h1 {
  margin: 0;
}

.navbar-pages > div > span:hover {
  cursor: pointer;
}

.navbar-pages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
}

.menu-icon {
  width: 0;
  height: 0;
  object-fit: contain;
  background-image: url('../static/menu-icon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  display: none;
}

.menu-icon:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 0 20px;
  }

  .navbar-pages {
    display: none;
    width: 0;
  }

  .menu-icon {
    display: block;
    width: 30px;
    height: 30px;
  }
}