
.section-4 {
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.section-4 > img {
  position: absolute;
  right: 0;
  height: 600px;
  z-index: 1;
}

.section-4 > h1 {
  top: 0;
  position: absolute;
  align-self: center;
}

.section-4 > div {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
}

.section-4 > div > button {
  outline: 0;
  border: none;
  border-radius: 4px;
  height: 42px;
  width: 105px;
  text-transform: uppercase;
  color: #fff;
  background-color: rgb(71, 165, 77);
}

.section-4 > div > button:hover {
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 2px 6px 2px rgba(60,64,67,0.15);
  transition: box-shadow 200ms ease;
}

.section-4 > div > p {
  max-width: 400px;
  text-align: center;
  line-height: 2em;
}

@media only screen and (max-width: 600px) {
  .section-4 > img {
    opacity: 0.8;
  }
}