
.section-6 {
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-6 > img {
  position: absolute;
  z-index: 1;
  left: 0;
}

.section-6 > h1 {
  top: 0;
  position: absolute;
}

.section-6 > div {
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
}

.section-6 > div > p {
  max-width: 700px;
  text-align: center;
  line-height: 2em;
}

@media only screen and (max-width: 600px) {
  .section-6 > img {
    opacity: 0.8;
    max-width: 100%;
  }

  .section-6 > div {
    margin-top: 70px;
  }
}