
.section-7 {
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
}

.section-7 > h1 {
  top: 0;
  position: absolute;
  align-self: center;
}

.section-7 > div {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
}

.section-7 > div > p {
  max-width: 400px;
  text-align: center;
  line-height: 2em;
}