.section-2 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.section-2 > h1 {
  top: 0;
  position: absolute;
  align-self: center;
}

.section-2 > img {
  position: absolute;
  width: 600px;
  object-fit: contain;
  align-self: flex-start;
}

.section-2 > div {
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  line-height: 2em;
}

@media only screen and (max-width: 600px) {
  .section-2 {
    justify-content: flex-start;
  }

  .section-2 > img {
    max-width: 100%;
    bottom: 0;
    left: -15px;
    opacity: 0.8;
  }

  .section-2 > div {
    margin-top: 50px;
    max-width: 100%;
  }
}