
.section-3 {
  position: relative;
  justify-content: center;
  align-items: center; 
}

.section-3 > h1 {
  top: 0;
  position: absolute;
  text-align: center;
}

.section-3 > div {
  max-width: 700px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
  text-align: center;
  line-height: 2em;
}

@media only screen and (max-width: 600px) {
  .section-3 > div {
    margin-top: 70px;
  }

  .section-3 > div {
    max-width: 100%;
  }
}