.section-1 {
  background-color: rgb(221, 142, 86);
  background-image: url('../../static/landing-page-brush.png');
  background-size: 80vw 500px;
  background-repeat: no-repeat;
  background-position: left bottom;
  justify-content: center;
}

.logo {
  position: absolute;
  bottom: -20px;
  right: 20%;
  width: 600px;
}

.section-1 > div {
  position: absolute;
  box-sizing: border-box;
  padding: 0 20px;
  bottom: 10px;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.section-1 > div > img {
  top: 0;
  width: 300px;
  z-index: 1;
  align-self: flex-end;
}

.section-1 > div > h1 {
  margin: 0;
  text-align: left;
  font-size: 28px;
}

.section-1 > div > h2 {
  margin: 0;
  font-size: 18px;
  font-style: italic;
  text-align: right;
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 100%;
    bottom: 150px;
    left: 0px;
  }

  .section-1 {
    background-size: 800px 500px;
    overflow-x: hidden;
  }

  .section-1 > div {
    position: absolute;
    max-width: 100%;
  }
}