
.section-5 {
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
}

.section-5 > img {
  position: absolute;
  left: 0;
  max-height: 600px;
}

.section-5 > p {
  align-self: center;
  text-align: center;
}

.section-5 > h1 {
  top: 0;
  position: absolute;
  align-self: center;
}

.section-5 > div {
  margin-bottom: 200px;
  margin-left: 200px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
}

.section-5 > div > p {
  max-width: 400px;
  text-align: center;
  line-height: 2em;
}

@media only screen and (max-width: 600px) {
  .section-5 > img {
    max-width: 100%;
  }
}